*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul,ol, menu {
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
}

.container-md {
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: nowrap;
}

.gap {
    display: flex;
    gap: 10px;
 }

.col-6{
    flex-basis: calc((100% / 12 ) * 6);
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
}

.col-4{
    flex-basis: calc((100% / 12) * 12);
}

.btn{
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}

